body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

header {
	margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}

header .logo h2,
header .logo span,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

header .logo h2 {
    font-weight: 800;
    text-transform: uppercase;
}

header .logo .planet {
    color: #bfbfbf;
}

header .logo p {
    color: #777777;
}

header .menu {
    padding: 0;
}

header .menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
}

header .menu a div span {
	font-weight: 600;
}

header .menu .color-1 { background: #95BFF0;}
header .menu .color-2 { background: #7DEED5 ;}
header .menu .color-3 { background: #bfbfbf;}
header .menu .color-1:hover { background: #428DE2;}
header .menu .color-2:hover { background: #3FC5A6 ;}
header .menu .color-3:hover { background: #C9B3B3;}